<launch>
  <!-- ARGUMENT DEFINITIONS -->
  <arg name="vis" default="false" /> <!-- run rviz? -->
  <arg name="apple" default="false" />
  <arg name="banana" default="false" />
  <arg name="house" default="false" />
  <arg name="umbrella" default="false" /> 
  
    <!-- startup simulator node -->
		<group if="$(arg apple)">
    	<node pkg="sawyer_humcpp" type="applewalls" name="applewalls"
	  	respawn="true" output="screen" />
		</group>
    <group if="$(arg banana)">
    	<node pkg="sawyer_humcpp" type="bananawalls" name="bananawalls"
	  	respawn="true" output="screen" />
		</group>
   <group if="$(arg house)">
    	<node pkg="sawyer_humcpp" type="housewalls" name="housewalls"
	  	respawn="true" output="screen" />
		</group>
   <group if="$(arg umbrella)">
    	<node pkg="sawyer_humcpp" type="umbrellawalls" name="umbrellawalls"
	  	respawn="true" output="screen" />
		</group>

		<!-- start visualization -->
    <node pkg="sawyer_humcpp" type="cursor_sm.py" name="cursor_sm"
	  respawn="true" output="screen" />
    
  <!-- rviz if needed -->
  <group if="$(arg vis)">
    <node pkg="rviz" type="rviz" respawn="false" name="rviz" 
	  args="-d $(find sawyer_humcpp)/launch/apple-view.rviz" />
  </group>

</launch>

  
